{% extends 'base.html' %}

{% block title %}Análisis de Productos{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Análisis de Movimientos de Inventario</h1>
    <div class="row">
        {% for item in datos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>{{ item[0].nombre }}</h5> <!-- Nombre del producto -->
                    <p>Categoría: {{ item[0].categoria.nombre }}</p> <!-- Nombre de la categoría -->
                </div>
                <div class="card-body">
                    <p><strong>Entradas:</strong> {{ item.total_vendido }}</p>
                    <p><strong>Salidas:</strong> {{ item.ventas_totales }}</p>
                    <p><strong>Stock Actual:</strong> {{ item.stock_restante }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
